<div class="header">
    <div class="logo" img src="/src/recursos/icono.jpg" class="rounded float-start" alt="logo"></div>
    <div class="company">Storm</div>
    <div class="iconoperfil" img src="/src/recursos/iconoperfilpng.png" class="rounded float-end" alt="perfil"></div>
 
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" routerLink="/Home">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" routerLink="/Tienda">Tienda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/Destacable">Destacable</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/Noticias">Noticias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/Chat">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/Soporte">Soporte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/Comunidad">Comunidad</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="/Categoria">
                  Categoria
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Mundo abierto</a></li>
                  <li><a class="dropdown-item" href="#">Exploracion</a></li>
                  <li><a class="dropdown-item" href="#">Multijugador</a></li>
                  <li><a class="dropdown-item" href="#">Simulador</a></li>
                  <li><a class="dropdown-item" href="#">Accion</a></li>
                  <li><a class="dropdown-item" href="#">Cooperativo</a></li>
                  <li><a class="dropdown-item" href="#">Pelea</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
  </div>
  