<div class="highlight">
    <div class="section">
        <ul class="list-group">Los mas vendidos
            <li class="list-group-item">Darker and Darker</li>
            <li class="list-group-item">Goat Simulator 3</li>
            <li class="list-group-item">Mortal Kombat 1</li>
        </ul>
    </div>
    <div class="section">
        <ul class="list-group">Los mas jugados
            <li class="list-group-item">Dota 2</li>
            <li class="list-group-item">GTA V</li>
            <li class="list-group-item">Rust</li>
        </ul>
    </div>
    <div class="section">
        <ul class="list-group">Ofertas especiales
            <li class="list-group-item">Black Desert 15%</li>
            <li class="list-group-item">Street Figther 6  25%</li>
            <li class="list-group-item">GTA V 50%</li>
        </ul>
    </div>
  </div>
  