<div class="community">
  
  
  <div class="card">
    <img src="/src/recursos/dota2.jpg" class="card-img-top" alt="dota2">
  
    <div class="card-body">
      <h5 class="card-title">Parche de jugabilidad 7.36b</h5>
      <p class="card-text">Ya está disponible el parche 7.36b. Puedes consultar las notas del parche aquí.

        Además, se corrigieron algunos errores durante estos últimos días:
        
        Se corrigieron varios problemas relacionados con teclas rápidas.
        El efecto positivo de la Runa de Escudo ahora tiene un icono.
        Los ataques de Roshan ya no matan al instante a los Guardianes Serpiente en Masa y al Guardián Serpiente Gigante de Shadow Shaman, sino que funcionan como los ataques de un héroe.
        Se corrigió que el Duplicado de la Tempestad de Arc Warden recibiera más daño del que debería.
        Se corrigió el talento de nivel 20 de Beastmaster «+250 de aura de vida máx. para Beastmaster y sus unidades», que se aplicaba a los mensajeros en determinadas circunstancias.
        Se corrigió que la habilidad Tejer Telaraña de Broodmother tuviera menos alcance de lanzamiento del que debería al tocar otra telaraña.
        Se corrigieron algunas interacciones no intencionadas de la habilidad Silencio de Death Prophet.
        Se corrigió que la Ira de Wyrm del Dragón de Escarcha de Dragon Knight aplicase sus efectos a estructuras de manera no intencionada.
        El Multidisparo de Drow Ranger ya no se cancela al lanzar Glaciar.
        La Zona Temporal de Faceless Void ya no atribuye asistencias incorrectamente.
        Se corrigió que la habilidad Quebrantavidas de Huskar en ocasiones impidiera usar comandos a los jugadores al combinarse con Disparo al Alma.
        Se corrigió que la faceta Elitista de Invoker otorgase amplificación de hechizo de forma pasiva sin aplicar primero el efecto negativo.
        Se corrigió que Genio Denegador de Invoker no concediera experiencia.
        Se corrigió que la habilidad Nihilismo de Leshrac no se viera afectada por Degradación ni otros aumentos del área de efecto.
        Se corrigió que la Capa Llameante de Lina no actualizase la duración de Alma Ígnea al lanzarse con el máximo de acumulaciones de Alma Ígnea.
        Se corrigió la Hoja de Laguna de Lina con el talento de nivel 25 «125 % de daño de Hoja de Laguna como barrera», que no tenía en cuenta el daño de la faceta A Fuego Lento.
        Se corrigió que los Lobos Espíritu de Lycan pudieran controlarse en ocasiones.
        Se alineó la barra del Cambio de Atributo de Morphling.
        Ya no es posible robar la Ofrenda de Muerta.
        Se corrigió que Shadow Demon con la faceta Sirviente de la Oscuridad pudiese crear ilusiones de duración infinita si se activaban las Riendas del Caos al lanzar Trastorno contra Chaos Knight.
        Se corrigió la faceta Salsa Secreta de Spleen de Techies, que no causaba la cantidad correcta de daño.
        Se corrigió que la habilidad innata de Undying, Elegía Incesante, a veces le impidiese usar comandos.
        Se corrigió que la faceta Paciente Cero de Venomancer provocara más daño del que debería.
        Se corrigió que el Grimorio Negro de Warlock no se transfiriese correctamente cuando los jugadores cambiaban de héroe.
        Se corrigió que el Grisgrís de Witch Doctor no se transfiriese correctamente cuando los jugadores cambiaban de héroe.
        </p>
    </div>
  </div>
  
  <div class="card">
    <img src="/src/recursos/blackdesert.jpg" class="card-img-top" alt="dota2">
  
    <div class="card-body">
      <h5 class="card-title">Notas da Atualização 19 de Junho de 2024 (qua.)</h5>
      <p class="card-text"> Com a manutenção de hoje, reduzimos o número de golpes das habilidades de cada personagem e reformulamos os sistemas de precisão, redução de dano e evasão. Este foi um grande trabalho que exigiu muito tempo de verificação, mas estamos felizes em finalmente poder compartilhar com vocês. Agradecemos novamente pela paciência.
 
        Primeiramente, conforme anunciado, o número de golpes das habilidades de cada personagem foi reduzido em aproximadamente 70 a 80% em comparação a antes. Trabalhamos meticulosamente para que a sensação de impacto não fosse muito afetada, mas entendemos que pode parecer estranho no início devido à simplificação. No entanto, pedimos a compreensão de todos, pois esta era uma mudança necessária para um Black Desert melhor.
         
        Sobre a reformulação dos sistemas de precisão, redução de dano e evasão. Inicialmente, planejamos ajustar apenas o dano e a precisão das habilidades para compensar a redução no número de golpes, mas percebemos que mudanças mais significativas eram inevitáveis para uma melhoria.
         
        Especialmente no caso do sistema de evasão, que ao ter sucesso, o jogador não recebia nenhum dano, o que tornava o desempenho excessivamente bom à medida que os pontos de ataque aumentavam. Isso resultava em uma desvantagem injusta para os jogadores, pois a evasão tinha um valor relativamente mais alto do que a redução de dano. Por isso, decidimos resolver os problemas fundamentais de evasão e precisão nesta oportunidade. Foram feitas as seguintes alterações:
         
        Primeiramente, a mudança no sistema de evasão. Agora, mesmo ao ter sucesso na evasão, o jogador receberá um dano mínimo. Mesmo que a evasão do alvo seja muito maior que a precisão do atacante, será aplicada uma taxa mínima de 10% de precisão (quando a evasão não ocorre) e 10% do dano será aplicado. A ideia é que, em vez de uma evasão perfeita de 0, o ataque do inimigo seja apenas desviado. (Esta é uma parte ajustada para evitar que a redução no número de golpes torne a evasão excessivamente vantajosa.)
         
        Em seguida, a adição do sistema de redução de dano bônus. Muitos aventureiros se mostraram preocupados com a rápida morte dos personagens em situações de PvP, o chamado "one-shot". Aproveitamos esta oportunidade para ajustar o equilíbrio entre evasão e redução de dano. Agora, dependendo dos pontos de defesa, será aplicado um efeito de "redução de dano bônus".
         
        Além disso, o dano recebido em estado de Super Armadura será reduzido. Ao avaliar o equilíbrio geral, percebemos que apenas a redução de dano bônus não era suficiente, mas aumentar mais poderia ser excessivo. Portanto, decidimos utilizar a característica da "Super Armadura" para que possa ser usada de forma eficaz em momentos críticos. A taxa de redução de dano aplicada varia de acordo com a classe.
        </p>
    </div>
  </div>
</div>