  <div class="accordion" id="categoria">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Mundo Abierto
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Modelo de diseño de niveles en el que se le da al jugador la posiblidad de moverse con libertad por el mundo virtual en el que se ambienta el juego, e interactuar en gran medida con todos o casi todos los elementos que lo componen</strong>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Exploración
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Tipo de prueba en la que se toman fotos detalladas de áreas del interior del cuerpo. Una exploración también puede hacer referencia a la imagen que se crea durante la prueba. Las exploraciones sirven para diagnosticar enfermedades, planificar o determinar la eficacia de los tratamientos.</strong>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Multijugador
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Un juego multijugador es un juego que es jugado por varios jugadores. Los jugadores pueden ser oponentes individuales, estar agrupados en equipos o formar un solo equipo contra el juego.</strong>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Simulador
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Un simulador es un aparato, por lo general informático, que permite la reproducción de un sistema. Los simuladores reproducen sensaciones y experiencias que en la realidad pueden llegar a suceder.</strong>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Accion
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Consisten en realizar ejercicios de repetición (por ejemplo, pulsar un botón para que el personaje ejecute una acción), se basan principalmente en eliminar enemigos y su contenido suele ser violento.</strong>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Cooperativo
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Los juegos cooperativos son aquellos en los que los jugadores no compiten entre sí. En cambio, tienen un objetivo común para que ganen o pierdan juntos. La diversión proviene de la camaradería y el desafío del juego, no de ser el único jugador (o equipo) que quede en pie cuando todos los demás son eliminados.</strong>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Pelea
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Un deporte de combate es un deporte competitivo de contacto donde dos contrincantes luchan uno contra el otro usando ciertas reglas de contacto según la modalidad. El objetivo es ganar la competición usando partes del cuerpo que estén permitidas por las reglas de cada deporte.</strong> 
          </div>
        </div>
      </div>
  </div>
  